Descripción 
# Conjunto de datos públicos brasileños de comercio electrónico de Olist
***
¡Bienvenida! Este es un conjunto de datos públicos de comercio electrónico brasileño de pedidos realizados en Olist Store. El conjunto de datos tiene información de 100k pedidos de 2016 a 2018 realizados en múltiples mercados en Brasil. Sus características permiten ver un pedido desde múltiples dimensiones: desde el estado del pedido, el precio, el pago y el desempeño del flete hasta la ubicación del cliente, los atributos del producto y finalmente las reseñas escritas por los clientes. También publicamos un conjunto de datos de geolocalización que relaciona los códigos postales brasileños con las coordenadas lat / lng.

Estos son datos comerciales reales, se han anonimizado y las referencias a las empresas y socios en el texto de revisión se han reemplazado con los nombres de las grandes casas de Game of Thrones.

# Join it With the Marketing Funnel by Olist
También hemos lanzado un conjunto de datos de embudo de marketing https://www.kaggle.com/olistbr/marketing-funnel-olist/home ¡Puede unir ambos conjuntos de datos y ver un pedido desde la perspectiva de marketing ahora!

Las instrucciones para unirse están disponibles en este Kernel https://www.kaggle.com/andresionek/joining-marketing-funnel-with-brazilian-e-commerce.

# Contexto
Este conjunto de datos fue proporcionado generosamente por Olist, la tienda por departamentos más grande de los mercados brasileños. Olist conecta pequeñas empresas de todo Brasil con canales sin problemas y con un solo contrato. Esos comerciantes pueden vender sus productos a través de Olist Store y enviarlos directamente a los clientes mediante los socios logísticos de Olist. Vea más en nuestro sitio web: www.olist.com

Después de que un cliente compra el producto en Olist Store, un vendedor recibe una notificación para cumplir con ese pedido. Una vez que el cliente recibe el producto, o vence la fecha estimada de entrega, el cliente recibe una encuesta de satisfacción por correo electrónico donde puede dar una nota por la experiencia de compra y anotar algunos comentarios.

# Atención
1. Un pedido puede tener varios artículos.
2. Cada artículo puede ser realizado por un vendedor distinto.
3. Todo el texto que identifica tiendas y socios fue reemplazado por los nombres de las grandes casas de Game of Thrones.


# Ejemplo de una lista de productos en un mercado

![image](https://i.imgur.com/JuJMns1.png)

# Data Schema
Los datos se dividen en varios conjuntos de datos para una mejor comprensión y organización. Consulte el siguiente esquema de datos cuando trabaje con él:

![image](https://i.imgur.com/HRhd2Y0.png)

# Classified Dataset
Anteriormente habíamos publicado un conjunto de datos clasificados, pero lo eliminamos en la Versión 6. Tenemos la intención de publicarlo nuevamente como un nuevo conjunto de datos con un nuevo esquema de datos. Si bien no lo terminamos, puede usar el conjunto de datos clasificados disponible en la Versión 5 o anterior.

# Inspiration
Aquí hay algo de inspiración para los posibles resultados de este conjunto de datos.

# NLP:

Este conjunto de datos ofrece un entorno supremo para analizar el texto de las reseñas a través de sus múltiples dimensiones.

# Clustering:

Algunos clientes no escribieron una reseña. Pero, ¿por qué están felices o enojados?

# Sales Prediction:

Con la información de la fecha de compra, podrá predecir las ventas futuras.

# Delivery Performance:

También podrá trabajar en el desempeño de la entrega y encontrar formas de optimizar los tiempos de entrega.

# Product Quality:

Disfrute descubriendo las categorías de productos que son más propensas a la insatisfacción del cliente.

# Feature Engineering:

Cree características a partir de este rico conjunto de datos o adjúntele información pública externa.

# Acknowledgements

Gracias a Olist por publicar este conjunto de datos.

# Tareas

Realizar
* Código mantenible y código limpio
* Analisis Exploratorio de Datos
* Interpretación del problema
* Ingeniería de características
* Series temporales
* Modelos
* Predicción de ventas
* Optimización entregas pedidos
* Clasificación
* Procesamiento de lenguaje Natural
* Dedicación
* Exposición
* Presentación y claridad

# Entregables

Elegir la herramienta con la que se sientan mejor

* Word
* Power Point
* Excel
* Kaggle
* Colab
* Streamlit, bokeh, dash, heroku
* Spyder
* Jupyter Lab

# Desarrollo de la Prueba

## Importar las Bases de Datos

In [3]:
import pandas as pd

#### olist_orders_dataset

In [10]:
olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv')

In [11]:
olist_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [13]:
olist_orders_dataset.shape

(99441, 8)

In [31]:
len(olist_orders_dataset['order_id'].unique())

99441

#### olist_customers_dataset

In [4]:
olist_customers_dataset = pd.read_csv('olist_customers_dataset.csv')

In [5]:
olist_customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
olist_customers_dataset.shape

(99441, 5)

In [16]:
olist_customers_dataset.duplicated('customer_unique_id',keep='first').value_counts()

False    96096
True      3345
dtype: int64

In [32]:
olist_customers_dataset.duplicated('customer_id',keep='first').value_counts()

False    99441
dtype: int64

#### <span style="color:red"> Merge olist_orders_dataset y olist_customers_dataset </span>

In [33]:
olist_dataset = olist_orders_dataset.merge(olist_customers_dataset, on = 'customer_id', how = 'left', validate = '1:1')

In [25]:
olist_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

In [27]:
olist_dataset.shape

(99441, 12)

#### olist_order_reviews_dataset

In [112]:
olist_order_reviews_dataset = pd.read_csv('olist_order_reviews_dataset.csv')

In [113]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [114]:
olist_order_reviews_dataset.shape

(100000, 7)

In [115]:
olist_order_reviews_dataset.duplicated(keep='first').value_counts()

False    100000
dtype: int64

In [116]:
len(olist_order_reviews_dataset['review_id'].unique())

99173

In [117]:
len(olist_order_reviews_dataset['order_id'].unique())

99441

In [118]:
olist_order_reviews_dataset['order_id'].value_counts().head()

c88b1d1b157a9999ce368f218a407141    3
df56136b8031ecd28e200bb18e6ddb2e    3
8e17072ec97ce29f0e1f111e598b0c85    3
03c939fd7fd3b38f8485a0f95798f1f6    3
3ba42e1ab3dfab510424d0872616a139    2
Name: order_id, dtype: int64

In [119]:
olist_order_reviews_dataset[olist_order_reviews_dataset['order_id'] == '03c939fd7fd3b38f8485a0f95798f1f6']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
8329,b04ed893318da5b863e878cd3d0511df,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Um ponto negativo que achei foi a cobrança de ...,2018-03-20 00:00:00,2018-03-21 02:28:23
51931,f4bb9d6dd4fb6dcc2298f0e7b17b8e1e,03c939fd7fd3b38f8485a0f95798f1f6,4,NaN,NaN,2018-03-29 00:00:00,2018-03-30 00:29:09
70005,405eb2ea45e1dbe2662541ae5b47e2aa,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Seria ótimo se tivesem entregue os 3 (três) pe...,2018-03-06 00:00:00,2018-03-06 19:50:32

Después de una rápida inspección llego, dado que el ideal es que ``order_id`` sea único, lo mejor es para cada orden escoger sólo el comentario que tenga un contenido más largo

In [120]:
olist_order_reviews_dataset['def_null_content_review'] = pd.isnull(olist_order_reviews_dataset['review_comment_message'])

In [121]:
def blanko(row):
    if not row['def_null_content_review']:
        return len(row['review_comment_message'])
    else:
        return 0

In [122]:
olist_order_reviews_dataset['number_strings'] = olist_order_reviews_dataset.apply(blanko, axis = 1)

In [123]:
olist_order_reviews_dataset = olist_order_reviews_dataset.sort_values('number_strings').drop_duplicates('order_id', keep='last')

In [124]:
olist_order_reviews_dataset.drop(['number_strings', 'def_null_content_review'], axis=1, inplace = True)

In [125]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
45772,0c5c5315daeb865a6cf1de7046715b10,35f4b9d2da608b31899564a51dbabd35,5,NaN,NaN,2018-01-24 00:00:00,2018-01-26 11:00:34
82887,d2b62c73c97c66bf70c21a29560c8e10,f7170cc8836bcba4bd4022ce5a009524,1,NaN,NaN,2017-05-31 00:00:00,2017-06-01 04:23:30
45774,8ac5c46a35b809bb42658cfd0eb190d0,ca042978ccc1c2a3d1d9b04e4ba80b9d,4,NaN,NaN,2018-05-23 00:00:00,2018-05-25 22:17:00
45776,e0fd752f37c8c6866ceb53b79b0715f6,dceb8e88274c6f42a88a76ed979eb817,5,NaN,NaN,2018-03-29 00:00:00,2018-04-11 20:07:14

In [126]:
olist_order_reviews_dataset.shape

(99441, 7)

In [127]:
len(olist_order_reviews_dataset['order_id'].unique())

99441

#### <span style="color:red"> Merge olist_dataset y olist_order_reviews_dataset </span>

In [129]:
olist_dataset = olist_dataset.merge(olist_order_reviews_dataset, on = 'order_id', validate = '1:1')

In [130]:
olist_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8d5266042046a06655c8db133d120ba5,4,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,e73b67b67587f7644d5bd1a52deb1b01,5,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,359d03e676b3c069f62cadba8dd3f6e8,5,NaN,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,e50934924e227544ba8246aeb3770dd4,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51

In [132]:
olist_dataset.shape

(99441, 18)

#### olist_order_payments_dataset

In [133]:
olist_order_payments_dataset = pd.read_csv('olist_order_payments_dataset.csv')

In [134]:
olist_order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [139]:
olist_order_payments_dataset.shape

(103886, 5)

In [137]:
olist_order_payments_dataset.duplicated(keep='first').value_counts()

False    103886
dtype: int64

In [138]:
len(olist_order_reviews_dataset['order_id'].unique())

99441

In [140]:
olist_order_payments_dataset.duplicated('order_id',keep='first').value_counts()

False    99440
True      4446
dtype: int64

In [142]:
olist_order_payments_dataset['order_id'].value_counts().head()

fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
ee9ca989fc93ba09a6eddc250ce01742    19
Name: order_id, dtype: int64

In [146]:
olist_order_payments_dataset[olist_order_payments_dataset['order_id'] == 'ee9ca989fc93ba09a6eddc250ce01742']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
2099,ee9ca989fc93ba09a6eddc250ce01742,8,voucher,1,5.31
8910,ee9ca989fc93ba09a6eddc250ce01742,1,credit_card,1,1.76
29562,ee9ca989fc93ba09a6eddc250ce01742,17,voucher,1,7.19
35428,ee9ca989fc93ba09a6eddc250ce01742,3,voucher,1,12.49
36562,ee9ca989fc93ba09a6eddc250ce01742,13,voucher,1,6.51
38028,ee9ca989fc93ba09a6eddc250ce01742,16,voucher,1,6.51
47453,ee9ca989fc93ba09a6eddc250ce01742,11,voucher,1,1.68
49285,ee9ca989fc93ba09a6eddc250ce01742,15,voucher,1,1.92
50071,ee9ca989fc93ba09a6eddc250ce01742,14,voucher,1,4.70
52343,ee9ca989fc93ba09a6eddc250ce01742,2,voucher,1,5.88
64444,ee9ca989fc93ba09a6eddc250ce01742,12,voucher,1,2.80
64576,ee9ca989fc93ba09a6eddc250ce01742,4,voucher,1,3.49
68844,ee9ca989fc93ba09a6eddc250ce01742,5,voucher,1,3.58
75144,ee9ca989fc93ba09a6eddc250ce01742,18,voucher,1,2.33
75433,ee9ca989fc93ba09a6eddc250ce01742,19,voucher,1,4.56
85552,ee9ca989fc93ba09a6eddc250ce01742,6,voucher,1,3.75
86515,ee9ca989fc93ba09a6eddc250ce01742,10,voucher,1,2.45
94178,ee9ca989fc93ba09a6eddc250ce01742,9,voucher,1,3.90
96065,ee9ca989fc93ba09a6eddc250ce01742,7,voucher,1,1.92

In [144]:
olist_order_payments_dataset['payment_sequential'].value_counts(normalize = True)

1     0.956433
2     0.029253
3     0.005593
4     0.002676
5     0.001636
6     0.001136
7     0.000789
8     0.000520
9     0.000414
10    0.000327
11    0.000279
12    0.000202
13    0.000125
14    0.000096
15    0.000077
16    0.000058
17    0.000058
18    0.000058
19    0.000058
20    0.000039
21    0.000039
22    0.000029
23    0.000019
24    0.000019
25    0.000019
26    0.000019
28    0.000010
27    0.000010
29    0.000010
Name: payment_sequential, dtype: float64

**olist_order_payments_dataset** tiene de nuevo ``order_id`` duplicados que para simplicidad del ejercicio pueden ser eliminados cambiando la estructura de la base, así se agregará ``payment_sequential_amount``, de donde se obtiene la cantidad de métodos de pago de la orden, ``payment_type_all`` donde se ponen todos los métodos de pago en un string, separados por comas, ``payment_installments_total`` y ``payment_value`` que registra las cutas totales y el valor total de la orde

In [152]:
olist_order_payments_dataset_final = olist_order_payments_dataset.groupby('order_id').agg({'payment_sequential': "count",
                                                                                          'payment_installments': sum,
                                                                                          'payment_value': sum})

In [153]:
olist_order_payments = olist_order_payments_dataset.groupby('order_id').agg()

,payment_sequential,payment_installments,payment_value
order_id,,,
00010242fe8c5a6d1ba2dd792cb16214,1,2,72.19
00018f77f2f0320c557190d7a144bdd3,1,3,259.83
000229ec398224ef6ca0657da4fc703e,1,5,216.87
00024acbcdf0a6daa1e931b038114c75,1,2,25.78
00042b26cf59d7ce69dfabb4e55b4fd9,1,3,218.04
00048cc3ae777c65dbb7d2a0634bc1ea,1,1,34.59
00054e8431b9d7675808bcb819fb4a32,1,1,31.75
000576fe39319847cbb9d288c5617fa6,1,10,880.75
0005a1a1728c9d785b8e2b08b904576c,1,3,157.60
0005f50442cb953dcd1d21e1fb923495,1,1,65.39
00061f2a7bc09da83e415a52dc8a4af1,1,3,68.87
00063b381e2406b52ad429470734ebd5,1,5,57.98
0006ec9db01a64e59a68b2c340bf65a7,1,4,97.32
0008288aa423d2a3f00fcb17cd7d8719,1,1,126.54
0009792311464db532ff765bf7b182ae,1,1,127.55
0009c9a17f916a706d71784483a5d643,1,6,650.34
000aed2e25dbad2f9ddb70584c5a2ded,1,1,152.77
000c3e6612759851cc3cbb4b83257986,1,1,112.71
000e562887b1f2006d75e0be9558292e,1,4,41.11
000e63d38ae8c00bbcb5a30573b99628,1,1,56.78
000e906b789b55f64edcb1f84030f90d,1,3,33.84
000f25f4d72195062c040b12dce9a18a,1,1,164.39
001021efaa8636c29475e7734483457d,1,3,64.10
0010b2e5201cc5f1ae7e9c6cc8f5bd00,1,3,65.50
0010dedd556712d7bb69a19cb7bbd37a,1,1,111.12
00119ff934e539cf26f92b9ef0cdfed8,1,6,236.88
0011d82c4b53e22e84023405fb467e57,1,2,315.33
00125cb692d04887809806618a2a145f,1,1,135.41
00130c0eee84a3d909e75bc08c5c3ca1,1,1,35.84
0013503b13da1eac686219390b7d641b,1,1,137.22
...,...,...,...
ffec1a6d35149778ec575d5048d44db8,1,1,55.04
ffecd5a79a0084f6a592288c67e3c298,1,1,113.07
ffed7e90414c1477a6b92554661d465f,1,5,166.71
ffee31fb4b5e35c9123608015637c495,1,2,112.52
ffeeb911d070bea3dd20bd5fd01da5e8,1,5,95.69
ffef98cd5ecdc992fefbd967549520dd,1,1,153.01
ffef9e1de5dd07b397b373f9bb72cccf,1,5,115.50
ffefb169ddf34cecc0622a6d3cc387f8,1,3,142.10
fff0db5573c78c1cb5a2b68a2bbd8d4a,1,2,77.70
fff1e3e76b816bfe8ef16678cc53c643,1,7,86.85
fff2cdc825f9fc0ba3c04227cfa02303,1,1,50.62
fff2e9e3aa8644e19710216b4ef53ab2,1,1,86.15
fff3983dfa3c5a0d752d8d17baa406a0,1,3,80.44
fff60e5408a9dd1e92ee30023052af30,1,1,148.70
fff6889749958e42b47a7977a4cf0ea0,1,10,123.60
fff6b8ca971f8e3ec822e99d0f2d3d21,1,3,215.83
fff7c4452f050315db1b3f24d9df5fcd,1,1,756.91
fff8286f77788ab8b55b2e5747fa7dd8,1,4,40.27
fff8287bbae429a99bb7e8c21d151c41,1,4,456.28
fff90cdcb3b2e6cfb397d05d562fd3fe,1,1,101.73
fffa82886406ccf10c7b4e35c4ff2788,1,7,273.92
fffb0b1a50e65c449020434fa835e078,1,1,15.86
fffb2ef8874127f75b52b643880fd7e0,1,1,39.96
fffb9224b6fc7c43ebb0904318b10b5f,1,1,356.76
fffbee3b5462987e66fb49b1c5411df2,1,3,139.88
fffc94f6ce00a00581880bf54a75a037,1,1,343.40
fffcd46ef2263f404302a634eb57f7eb,1,1,386.53
fffce4705a9662cd70adb13d4a31832d,1,3,116.85
fffe18544ffabc95dfada21779c9644f,1,3,64.71
fffe41c64501cc87c801fd61db3f6244,1,1,55.79

In [ ]:
fechas_port = secop_2port[var_fechas + ['ID del Portafolio']
                         ].groupby('ID del Portafolio'
                                  ).agg({'Fecha de Publicacion del Proceso': min,  #Fecha más antigua
                                         'Fecha de Ultima Publicación': max,  #Fecha más reciente
                                         'Precio Base': 'mean'}  #Precio base promedio
                                       )